
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex-grow: 1;
}

/* transición de color */
.item{
    background-color: tomato;
    width: 200px;
    height: 200px;
    transition: 300ms;
    transition-timing-function: cubic-bezier(0.97, -0.18, 0.28, 1.13);
    /* transition-delay: 300ms; */
}

.item:hover{
    background-color: lightskyblue;
    transition: 300ms;
}

.parrafoAmplio{
    transition: font-size 300ms ease-out;
}

.parrafoAmplio:hover{
    font-size: larger;
    cursor: pointer;
}

.itemOpacidad{
    width: 200px;
    height: 100px;
    background-color: lightcoral;
    opacity: 0.5;
    transition: opacity 200ms ease-in-out;
}

.itemOpacidad:hover{
    opacity: 1;
}