
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex-grow: 1;
}

/* transición de color */
.item{
    background-color: tomato;
    width: 200px;
    height: 200px;
    transition: 300ms;
    transition-timing-function: cubic-bezier(0.97, -0.18, 0.28, 1.13);
    /* transition-delay: 300ms; */
}

.item:hover{
    background-color: lightskyblue;
    transition: 300ms;
}

.parrafoAmplio{
    transition: font-size 300ms ease-out;
}

.parrafoAmplio:hover{
    font-size: larger;
    cursor: pointer;
}

.itemOpacidad{
    width: 200px;
    height: 100px;
    background-color: lightcoral;
    opacity: 0.5;
    transition: opacity 200ms ease-in-out;
}

.itemOpacidad:hover{
    opacity: 1;
}

.subrayado{
    position: relative;
    display: inline-block;
}

.subrayado:hover{
    cursor: pointer;
}

.subrayado::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    background-color: chartreuse;
    height: 2px;
    transform: width 250ms ease-in;
}

.subrayado:hover::after{
    width: 100%;
}

/*  ANIMACION DE MOVIMIENTOS*/
.contenedorAnimado{
    width: 150px;
    height: 50px;
    background-color: lightblue;
    color: black;
    
}